In [2]:
import requests
import pandas as pd

url = 'https://www.canada.ca/en/public-health/services/surveillance/respiratory-virus-detections-canada/2018-2019/respiratory-virus-detections-isolations-week-01-ending-january-5-2019.html'

response = requests.get(url)

table_dict = {}
if response.status_code == 200:
    tables = pd.read_html(response.text)
    for i, table in enumerate(tables):
        df = pd.DataFrame(table)
        table_dict[i] = df

C:\Users\bay\AppData\Local\Temp\ipykernel_5676\3384862249.py:10: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  tables = pd.read_html(response.text)

In [5]:
print(len(table_dict))

10

In [14]:
table_dict[0].head(5)

,Reporting Laboratory,Flu Tested,A(H1N1)pdm09 Positive,A(H3) Positive,A(UnS) Positive,Total Flu A Positive,Total Flu B Positive,RSV Tested,RSV Positive,PIV Tested,...,PIV 4 Positive,Other PIV Positive,Adeno Tested,Adeno Positive,hMPV Tested,hMPV Positive,Entero/Rhino Tested,Entero/Rhino Positive,Coron Tested,Coron Positive
0,Newfoundland,171,0,0,34,34,0,171,25,171,...,0,0,171,0,171,4,171,21,N.A.,N.A.
1,Prince Edward Island,46,17,0,0,17,0,47,4,0,...,0,0,0,0,0,0,0,0,0,0
2,Nova Scotia,138,0,0,20,20,1,139,12,11,...,0,0,11,0,11,0,11,1,11,0
3,New Brunswick,875,0,0,211,211,0,875,33,129,...,2,0,129,5,129,2,129,7,129,3
4,Atlantic,1230,17,0,265,282,1,1232,74,311,...,2,0,311,5,311,6,311,29,140,3

In [15]:
table_dict[1].head(5)

,Reporting Laboratory,Flu Tested,A(H1N1)pdm09 Positive,A(H3) Positive,A(UnS) Positive,Total Flu A Positive,Total Flu B Positive,RSV Tested,RSV Positive,PIV Tested,...,PIV 4 Positive,Other PIV Positive,Adeno Tested,Adeno Positive,hMPV Tested,hMPV Positive,Entero/Rhino Tested,Entero/Rhino Positive,Coron Tested,Coron Positive
0,Newfoundland,1299,1,0,113,114,1,1299,91,1299,...,0,0,1299,12,1299,8,1299,200,N.A.,N.A.
1,Prince Edward Island,307,38,0,0,38,0,305,5,53,...,3,0,48,5,48,0,48,21,48,0
2,Nova Scotia,864,0,0,52,52,1,869,45,322,...,1,0,322,0,322,3,322,53,322,1
3,New Brunswick,4271,42,1,715,758,2,4274,131,1185,...,29,0,1185,84,1185,7,1185,201,1185,6
4,Atlantic,6741,81,1,880,962,4,6747,272,2859,...,33,0,2854,101,2854,18,2854,475,1555,7

In [16]:
table_dict[2].head(5)

,Week,ParaInfluenza,Adenovirus,Human metapneumovirus,Enterovirus/Rhinovirus,Coronavirus,Respiratory syncytial virus
0,35,35,21,6,196,4,9
1,36,49,27,3,214,2,7
2,37,40,32,5,299,2,15
3,38,41,31,2,440,3,15
4,39,40,42,6,487,9,12

In [17]:
table_dict[3].head(5)

,Week,Week end,Can Tests,CanÂ A %,CanÂ B %,Atl Tests,AtlÂ A %,AtlÂ B %,QC Tests,QCÂ A %,...,ONÂ B %,Pr Tests,PrÂ A %,PrÂ B %,BC Tests,BCÂ A %,BCÂ B %,Terr Tests,TerrÂ A %,TerrÂ B %
0,35,2018-09-01,1764,0.68,0.00,60,0.00,0.0,471,0.42,...,0.00,555,0.90,0.00,155,1.29,0.00,12,0.0,0
1,36,2018-09-08,1880,0.80,0.00,101,0.00,0.0,494,0.00,...,0.00,587,0.68,0.00,167,0.60,0.00,8,0.0,0
2,37,2018-09-15,2235,0.36,0.04,127,0.00,0.0,586,0.00,...,0.00,721,0.69,0.14,230,0.43,0.00,16,0.0,0
3,38,2018-09-22,2567,0.43,0.12,98,0.00,0.0,669,0.15,...,0.42,799,0.38,0.00,262,2.29,0.00,17,0.0,0
4,39,2018-09-29,2996,0.57,0.10,145,0.69,0.0,753,0.00,...,0.00,954,0.84,0.21,289,2.77,0.35,13,0.0,0

In [18]:
table_dict[4].head(5)

,Week,Week end,Can Tests,RSV %,Atl Tests,RSV %.1,QC Tests,RSV %.2,ON Tests,RSV %.3,Pr Tests,RSV %.4,BC Tests,RSV %.5,Terr Tests,RSV %.6
0,35,2018-09-01,1743,0.52,57,0.00,489,1.23,504,0.40,526,0.00,155,0.65,12,0.0
1,36,2018-09-08,1853,0.38,100,0.00,510,0.78,514,0.58,554,0.00,167,0.00,8,0.0
2,37,2018-09-15,2232,0.67,127,0.00,620,0.81,552,1.81,687,0.00,230,0.00,16,0.0
3,38,2018-09-22,2562,0.59,99,2.02,720,0.56,720,1.11,744,0.00,262,0.38,17,0.0
4,39,2018-09-29,2946,0.41,146,0.00,770,0.78,838,0.36,890,0.22,289,0.35,13,0.0